---
---

@import "../bower_components/bootstrap-sass/lib/bootstrap";

html,
body,
.globalWrapper,
nav {
	height: 100%;
}

body {
	background: #f8f8f8;
}

.globalWrapper {
	display: table;
	width: 100%;
	
	> div {
		display: table-cell;
		vertical-align: top;
	}
}

.navContainer {
	width: 300px;
}

nav {
	background: #0F0400 url(../images/menuBackdrop.jpg) top right no-repeat;
	width: 300px;
	padding-right: 20px;
	position: fixed;
	
	@include box-shadow(3px 0px 1px 0px rgba(50, 50, 50, 0.75));
	
	ul {
		li {
			font-size: 1.4rem;
			list-style: none;
			text-align: right;
		}
		padding: 0;
		margin-top: 610px;
	}
}

@media screen and (max-width: 992px) {
	.navContainer,
	nav {
		width: 30%;
	}
}

@media screen and (max-width: 768px) {
	.navContainer {
		display: none;
	}
}